@font-face { font-family: Limerick; src: url('/fonts/Limerick-Serial-Regular DB.ttf'); }

body {
  margin: 0px;
}

#container    { z-index: -10 }
.base         { z-index:  1; }
.gameImage    { z-index:  4; }
.fill         { z-index:  7; image-rendering: pixelated; }
.genre        { z-index: 10; image-rendering: pixelated; }
.primary      { z-index: 13; }
.border       { z-index: 20; image-rendering: pixelated; }

#container, .fullSize {
  width: 1280px;
  height: 720px;
  position: relative;
  /* background-color: #0f0; */
}

.primary {
  font-family: Limerick;
  /* color: #fff; */
  color: #fff;
  position: absolute;
}

#hashtag        { font-size: 44px; }
#runInfo        { font-size: 24px; }
[id^="player"]  { font-size: 48px; }

img, .fill {
  position: absolute;
}

.fillGS {
  background-color: #0f0;
}

.fillGrey {
  background-color: #444; /* fallback if browser doesn't support */
  opacity: .1
}

.fillGreyGradient {
  background-color: #444; /* fallback if browser doesn't support */
  background-image: linear-gradient(to right, #444, #606060);
  opacity: .7;
}
