:root {
	--labelMarginWidth: 5px;
	--fieldWidth: 100%;
	--switchHeight: 22px;
}

body {
	font-family: 'Roboto', 'Noto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

label {
    width: var(--fieldWidth);
		font-size: 14px;
		font-weight: bold;
    text-align: left;
    float: left;
}

input[type=text], input[type=number] {
	width: calc(var(--fieldWidth) - 8px);
}

.radio-group input[type="radio"],
.checkbox-group input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-group label,
.checkbox-group label {
    background-color: #ddd;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
		font-weight: normal;
    font-size: 11px;
    border: 1px solid #444;
		margin-right: calc(var(--labelMarginWidth) / 2);
    margin-bottom: 1px;
		-webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Old versions of Firefox */
	        -ms-user-select: none; /* Internet Explorer/Edge */
	            user-select: none; /* Non-prefixed version, currently
	                                  supported by Chrome, Edge, Opera and Firefox */
}

.radio-group label {
  border-radius: 70px/50px;
}

.radio-group input[type="radio"]:checked + label,
.checkbox-group input[type="checkbox"]:checked + label {
    background-color:#afa;
    border-color: #2b2;
		cursor: pointer;
}

.radio-group input[type="radio"]:focus + label,
.checkbox-group input[type="checkbox"]:focus + label {
    border: 1px solid #494;
		cursor: pointer;
}

.radio-group label:hover,
.checkbox-group label:hover {
  background-color: #dfd;
}

.radio-group label:hover,
.checkbox-group label:hover,
.radio-group input[type="radio"]:hover,
.radio-group input[type="checkbox"]:hover
 {
	cursor: pointer;
}

.radio-group,
.checkbox-group,
.inputSelect {
	width: var(--fieldWidth);
}

br {
  display: block;
}

.selectGroup {
	font-weight: bold;
	font-size: 12px;
}

.smallLabel {
	font-size: 10px;
}

/* slider */



	.switch {
	  position: relative;
	  display: inline-block;
		margin-left: 6px;
	  width: 90px;
	  height: var(--switchHeight);
		vertical-align: center;
	}

	.switch input {
		display: none;
	}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ca2222;
	  -webkit-transition: .4s;
		padding: 4px;
	  transition: .4s;
	}

	.slider.round {
	  border-radius: var(--switchHeight);
	}

	.slider.round:before {
	  border-radius: 50%;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: calc( var(--switchHeight) - 7px);
	  width: calc( var(--switchHeight) - 7px);
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2ab934;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(68px);
	  -ms-transform: translateX(68px);
	  transform: translateX(68px);
	}

	.on	{
	  display: none;
	}

	.on, .off	{
	  color: white;
	  position: absolute;
	  transform: translate(-50%,-50%);
	  top: 50%;
	  left: 50%;
	  font-size: 10px;
	  font-family: Verdana, sans-serif;
	}

	input:checked+ .slider .on {
		display: block;
	}

	input:checked + .slider .off {
		display: none;
	}

/* end slider */

#playerTable {
	border-collapse: separate;
	border-spacing: 4px;
}

#masterRunListAllRunsTable,
#masterRunListAllRunsTable th,
#masterRunListAllRunsTable td {
	font-size: 9px;
	border-collapse: collapse;
	border: 1px solid black;
}

#masterRunListAllRunsTable tr:nth-child(even) {
	background-color: #f2f2f2;
}


button {
	border: 1px solid #555;
  cursor: pointer;
}

.moveButton {
	cursor: pointer;
}

.saveChanges {
	border: 2px ridge #2e2;
	background-color: rgba(100,255,100,.25);
}

.halfButton {
	position: relative;
	width: 50%;
	overflow: hidden;
}

.saveButton, .loadButton {
  position: relative;
	font-size: 18px;
	padding: 10px;
  width: 100%;
  overflow: hidden;
}

.saveButton:after {
  content: "";
  background: #afa;
  display: block;
  position: absolute;
  padding-top: 3000%;
  padding-left: 500%;
  margin-left: -20px!important;
  margin-top: -400%;
  opacity: 0;
  transition: all 1.5s
}

.saveButton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.shadedTableTrue td {
	background: rgba(100,100,100,.2);
}

.pointer {
	cursor: pointer;
	text-align: center;
}

.missingGame, .missingGame td {
	border: 2px dotted red;
	background: rgba(170,100,100,.2);
	font-weight: bold;
}

.disabled input, .disabled button, button:disabled {
	background-color: rgba(255,150,150,0.5);
	cursor: not-allowed;
}

.disabled input, .disabled .slider {
	opacity: 30%;
	color: #f33;
}


.disabled input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fbb;
}
.disabled input::-moz-placeholder { /* Firefox 19+ */
  color: #fbb;
}
.disabled input:-ms-input-placeholder { /* IE 10+ */
  color: #fbb;
}
.disabled input:-moz-placeholder { /* Firefox 18- */
  color: #fbb;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ddd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ddd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ddd;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ddd;
}





/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
